<header id="pageHeader" class="layui-header">
    <div class="layui-logo">
        后台图书管理系统
    </div>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item" data-nav="index"><a href="/">首页</a></li>
        <li class="layui-nav-item" data-nav="welcome"><a href="/welcome">welcome</a></li>
        <li class="layui-nav-item" data-nav="LMap"><a href="/map" hidden="hidden">map</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd class=""><a>移动模块</a></dd>
                <dd><a href="javascript:;">后台模版</a></dd>
                <dd><a href="javascript:;">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="javascript:;">社区</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="">个人中心<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:void(0);"><img src="//t.cn/RCzsdCq" class="layui-nav-img">👨‍👨‍👧‍👧</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退了</a></dd>
            </dl>
        </li>
    </ul>
</header>
